@import "tailwindcss";

@config "../tailwind.config.js";


:root {
  --background: 216 13% 95%;
  --foreground: 216 5% 10%;
  --card: 216 13% 90%;
  --card-foreground: 216 5% 15%;
  --popover: 216 13% 95%;
  --popover-foreground: 216 95% 10%;
  --primary: 216 42.9% 24.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216 13% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 178 13% 85%;
  --muted-foreground: 216 5% 35%;
  --accent: 178 13% 80%;
  --accent-foreground: 216 5% 15%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 216 5% 90%;
  --border: 216 20% 50%;
  --input: 216 20% 26%;
  --ring: 216 42.9% 24.7%;
  --radius: 0.3rem;
}

.dark {
  --background: 216 13% 10%;
  --foreground: 216 5% 90%;
  --card: 216 13% 10%;
  --card-foreground: 216 5% 90%;
  --popover: 216 13% 5%;
  --popover-foreground: 216 5% 90%;
  --primary: 216 42.9% 24.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216 13% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 178 13% 25%;
  --muted-foreground: 216 5% 60%;
  --accent: 178 13% 25%;
  --accent-foreground: 216 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 216 5% 90%;
  --border: 216 20% 26%;
  --input: 216 20% 26%;
  --ring: 216 42.9% 24.7%;
  --radius: 0.3rem;
}


* {
  @apply border-border;
}

body {
  @apply font-sans antialiased bg-background text-foreground;
}